.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Additional styles as needed */
}

.auth-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #1976d2; /* Set the desired color */
  font-family: 'Lobster', cursive; /* Replace 'Your Desired Font' with the name of the font you want to use */
  text-align: center; /* Center the title horizontally */
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
}



.other-title{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}