.postContainer {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc; /* Add border property */
    margin-bottom: 20px;
  }
  
  .postContainer h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
  }
  .postContainer h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
  }
  
  .postContainer h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .postContainer p {
    font-size: 1rem;
    margin: 0.5rem 0;
    line-height: 1.4;
  }
  
  .postContainer .user-link {
    color: rgb(255, 0, 30);
    text-decoration: underline;
    margin-right: 5px;
  }
  
  .postContainer .likes {
    margin-top: 1rem;
  }
  
  .postContainer .save-button {
    margin-top: 1rem;
    padding: 4px 8px;
    font-size: 0.9rem;
    background-color: #0099ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .postContainer .save-button:hover {
    background-color: #062e56;
  }

  .postContainer .unsave-button {
    margin-top: 1rem;
    padding: 4px 8px;
    font-size: 0.9rem;
    background-color: #fc9300;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .postContainer .unsave-button:hover {
    background-color: #ca2500;
  }

  .postContainer .like-button {
    margin-top: 1rem;
    padding: 4px 8px;
    font-size: 0.9rem;
    background-color: #d762b4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .postContainer .like-button:hover {
    background-color: #a82b7a;
  }

  .postContainer .unlike-button {
    margin-top: 1rem;
    padding: 4px 8px;
    font-size: 0.9rem;
    background-color: #a64ebe;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .postContainer .unlike-button:hover {
    background-color: #6e2b7a;
  }
  
  .postContainer img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  